.btn-primary {
    background-color: #0078d7 !important;
    color: #fff;
    border-color: #0078d7 !important;
}

.black-background {
    background-color: white;
    color: white;
}

.form-floating > label {
    color: #0d6efd;
}

.emptyDiv {
    height: 25px;
}

#dropdown-header {
    color: #fff !important;
    box-shadow: 0 0 0 0 !important;
}

.dropdown-item {
    background-color: white !important;
    color: #04102C !important;
    padding-top: 10px !important;
}

.header-dropdown-menu {
    z-index: 3;
    right: 10px;
}